# Team Ratings

In [1]:
# Local libraries
import Tools.ratings_utils as ru

FILENAME = "Data/data_2024.json"
TOURNAMENT_FILENAME = "Data/tournament_2024.csv"

In [2]:
# Currently unused (save for Massey, Colley, Elo Ratings)
tournament = Tournament.Tournament(url=TOURNAMENT_URL,
                                   debug=True)

NameError: name 'Tournament' is not defined

## Massey Ratings

In [3]:
score_df = ru.set_massey_rating_data_frame(filename=FILENAME)
massey_ratings = ru.calculate_massey_ratings(score_df=score_df,
                                               debug=False)

In [33]:
import pandas as pd

# Load tournament CSV file into a DataFrame
tourney_df = pd.read_csv(TOURNAMENT_FILENAME)

# Display the first 5 rows
print(tourney_df.head())
# print(massey_ratings)

tourney_dict = {
    "Round": [],
    "Game": [],
    "Team1": [],
    "Team2": [],
    "Rating1": [],
    "Rating2": []
}

# Add ratings to 1st round
for i in range(32):
    
    team1 = tourney_df["Team1"][i]
    team2 = tourney_df["Team2"][i]
    rating1 = massey_ratings[team1]
    rating2 = massey_ratings[team2]
    
    tourney_dict["Round"].append(tourney_df["Round"][i])
    tourney_dict["Game"].append(tourney_df["Game"][i])
    tourney_dict["Team1"].append(team1)
    tourney_dict["Team2"].append(team2)
    tourney_dict["Rating1"].append(rating1)
    tourney_dict["Rating2"].append(rating2)

print(pd.DataFrame(tourney_dict).head())



correct_picks = 0

rd = 1
game = 0

# Convert dictionary to DataFrame
# df = pd.DataFrame.from_dict(tourney_dict, orient="index")
df = pd.DataFrame(tourney_dict)
print(df)
matching_indices = df[df["Round"] == rd].index.tolist()

for i in matching_indices:

    team1 = tourney_df["Team1"][i]
    team2 = tourney_df["Team2"][i]
    rating1 = massey_ratings[team1]
    rating2 = massey_ratings[team2]
    
    # Add 2nd round teams
    if tourney_dict["Rating1"][i] >= tourney_dict["Rating2"][i]:
        
        if i % 2 == 0:
            # Assign 1st team if even index
            tourney_dict["Team1"].append(team1)
            tourney_dict["Rating1"].append(rating1)
        else:
            # Assign 2nd team if odd index
            tourney_dict["Team2"].append(team1)
            tourney_dict["Rating2"].append(rating1)
               
    else:
        
        if i % 2 == 0:
            # Assign 1st team if even index
            tourney_dict["Team1"].append(team2)
            tourney_dict["Rating1"].append(rating2)
        else:            
            # Assign 2nd team if odd index
            tourney_dict["Team2"].append(team2)
            tourney_dict["Rating2"].append(rating2)

    if i % 2 == 0:
        game += 1
        
        tourney_dict["Round"].append(rd+1)
        tourney_dict["Game"].append(game)
    

for key in tourney_dict:
    print(key, len(tourney_dict[key]))

    
print(pd.DataFrame(tourney_dict))


correct_picks = 0

for i in range(len(tourney_dict["Round"])):
    
    # Compare 1st round scores
    if tourney_df["Score1"][i] > tourney_df["Score2"][i] and tourney_dict["Rating1"][i] >= tourney_dict["Rating2"][i]:
        correct_picks +=1

        
print(f"Correct picks: {correct_picks} out of 48")

   Round Conference  Game             Team1         Team2  Score1  Score2
0      1       East     1       Connecticut       Stetson      91      52
1      1       East     2  Florida Atlantic  Northwestern      65      77
2      1       East     3   San Diego State           UAB      69      65
3      1       East     4            Auburn          Yale      76      78
4      1       East     5     Brigham Young      Duquesne      67      71
   Round  Game             Team1         Team2    Rating1    Rating2
0      1     1       Connecticut       Stetson  45.398735  16.722209
1      1     2  Florida Atlantic  Northwestern  34.476610  33.382178
2      1     3   San Diego State           UAB  35.811758  25.808480
3      1     4            Auburn          Yale  43.980661  25.408055
4      1     5     Brigham Young      Duquesne  40.938876  28.166539
    Round  Game              Team1                  Team2    Rating1  \
0       1     1        Connecticut                Stetson  45.398735
1       1     2   Florida Atlantic           Northwestern  34.476610
2       1     3    San Diego State                    UAB  35.811758
3       1     4             Auburn                   Yale  43.980661
4       1     5      Brigham Young               Duquesne  40.938876
5       1     6           Illinois         Morehead State  40.495687
6       1     7   Washington State                  Drake  34.944645
7       1     8         Iowa State     South Dakota State  43.556085
8       1     1     North Carolina                 Wagner  41.640117
9       1     2  Mississippi State         Michigan State  35.590921
10      1     3  Saint Mary's (CA)           Grand Canyon  37.740534
11      1     4            Alabama  College of Charleston  41.795978
12      1     5            Clemson             New Mexico  35.581090
13      1     6             Baylor                Colgate  40.740950
14      1     7             Dayton                 Nevada  34.084613
15      1     8            Arizona       Long Beach State  46.033638
16      1     1            Houston               Longwood  46.910536
17      1     2           Nebraska              Texas A&M  35.724292
18      1     3          Wisconsin          James Madison  37.435382
19      1     4               Duke                Vermont  40.876945
20      1     5         Texas Tech               NC State  36.544529
21      1     6           Kentucky                Oakland  38.267901
22      1     7            Florida               Colorado  36.117754
23      1     8          Marquette       Western Kentucky  40.248938
24      1     1             Purdue              Grambling  45.443666
25      1     2         Utah State                    TCU  32.997754
26      1     3            Gonzaga          McNeese State  37.977839
27      1     4             Kansas                Samford  37.971441
28      1     5     South Carolina                 Oregon  32.249070
29      1     6          Creighton                  Akron  40.707291
30      1     7              Texas         Colorado State  36.633929
31      1     8          Tennessee          Saint Peter's  42.436045

      Rating2
0   16.722209
1   33.382178
2   25.808480
3   25.408055
4   28.166539
5   22.074230
6   31.893224
7   21.154042
8    9.781896
9   38.519358
10  30.671878
11  24.583796
12  36.666303
13  20.733259
14  34.047425
15  19.412662
16  19.340009
17  33.684320
18  29.386338
19  23.486463
20  32.187856
21  21.972823
22  36.667732
23  21.841263
24  10.063964
25  36.257338
26  27.974680
27  26.808461
28  32.926963
29  23.732943
30  34.251499
31  16.512903
Round 48
Game 48
Team1 48
Team2 48
Rating1 48
Rating2 48
    Round  Game              Team1                  Team2    Rating1  \
0       1     1        Connecticut                Stetson  45.398735
1       1     2   Florida Atlantic           Northwestern  34.476610
2       1     3    San Diego State                    UAB  35.811758
3       1     4             Auburn                   Yale  43.980661
4       1     5      Brigham Young               Duquesne  40.938876
5       1     6           Illinois         Morehead State  40.495687
6       1     7   Washington State                  Drake  34.944645
7       1     8         Iowa State     South Dakota State  43.556085
8       1     1     North Carolina                 Wagner  41.640117
9       1     2  Mississippi State         Michigan State  35.590921
10      1     3  Saint Mary's (CA)           Grand Canyon  37.740534
11      1     4            Alabama  College of Charleston  41.795978
12      1     5            Clemson             New Mexico  35.581090
13      1     6             Baylor                Colgate  40.740950
14      1     7             Dayton                 Nevada  34.084613
15      1     8            Arizona       Long Beach State  46.033638
16      1     1            Houston               Longwood  46.910536
17      1     2           Nebraska              Texas A&M  35.724292
18      1     3          Wisconsin          James Madison  37.435382
19      1     4               Duke                Vermont  40.876945
20      1     5         Texas Tech               NC State  36.544529
21      1     6           Kentucky                Oakland  38.267901
22      1     7            Florida               Colorado  36.117754
23      1     8          Marquette       Western Kentucky  40.248938
24      1     1             Purdue              Grambling  45.443666
25      1     2         Utah State                    TCU  32.997754
26      1     3            Gonzaga          McNeese State  37.977839
27      1     4             Kansas                Samford  37.971441
28      1     5     South Carolina                 Oregon  32.249070
29      1     6          Creighton                  Akron  40.707291
30      1     7              Texas         Colorado State  36.633929
31      1     8          Tennessee          Saint Peter's  42.436045
32      2     1        Connecticut       Florida Atlantic  45.398735
33      2     2    San Diego State                 Auburn  35.811758
34      2     3      Brigham Young               Illinois  40.938876
35      2     4   Washington State             Iowa State  34.944645
36      2     5     North Carolina         Michigan State  41.640117
37      2     6  Saint Mary's (CA)                Alabama  37.740534
38      2     7         New Mexico                 Baylor  36.666303
39      2     8             Dayton                Arizona  34.084613
40      2     9            Houston               Nebraska  46.910536
41      2    10          Wisconsin                   Duke  37.435382
42      2    11         Texas Tech               Kentucky  36.544529
43      2    12           Colorado              Marquette  36.667732
44      2    13             Purdue                    TCU  45.443666
45      2    14            Gonzaga                 Kansas  37.977839
46      2    15             Oregon              Creighton  32.926963
47      2    16              Texas              Tennessee  36.633929

      Rating2
0   16.722209
1   33.382178
2   25.808480
3   25.408055
4   28.166539
5   22.074230
6   31.893224
7   21.154042
8    9.781896
9   38.519358
10  30.671878
11  24.583796
12  36.666303
13  20.733259
14  34.047425
15  19.412662
16  19.340009
17  33.684320
18  29.386338
19  23.486463
20  32.187856
21  21.972823
22  36.667732
23  21.841263
24  10.063964
25  36.257338
26  27.974680
27  26.808461
28  32.926963
29  23.732943
30  34.251499
31  16.512903
32  34.476610
33  43.980661
34  40.495687
35  43.556085
36  38.519358
37  41.795978
38  40.740950
39  46.033638
40  35.724292
41  40.876945
42  38.267901
43  40.248938
44  36.257338
45  37.971441
46  40.707291
47  42.436045
Correct picks: 24 out of 48